<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'comm/comm.html' %}
    </head>
    <body>
        <!-- Navigation-->
        {% include 'comm/nav.html' %}
        <!-- Header-->
        {% include 'comm/header.html' %}
        <!-- Section-->
        <section class="py-5 bg-light">

        </section>
        <!-- Footer-->
        {% include 'comm/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
