<!DOCTYPE html>
<html lang="en">
<style>
    .title{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://media.istockphoto.com/vectors/seamless-pattern-bookshelves-vector-id905271678?k=20&m=905271678&s=612x612&w=0&h=8rhhIJLsu4_Gu3nts0PfRaup3JFgc4MoOE3ONjKnJKc=');
        background-position: center;
        background-size: cover;
    }
</style>
<body>
    <header class="bg-dark py-5 title">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">BookMarker</h1>
                <p class="lead fw-normal text-white-50 mb-0">추천하는 책 속 좋은 명언을 공유해봅시다</p>
            </div>
        </div>
    </header>
</body>
</html>